.credit-section {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, #4e4c86, #9d1c05c2); 
    color: #4a523f;
    padding: 20px;
    border-radius: 10px;
}


.credit-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.label {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #d8cece;
}

.value, .bet-controls {
    font-size: 30px;
    font-weight: bold;
    color: #9ee411;
    background: rgba(163, 163, 163, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
}

.bet-controls {
    display: flex;
    align-items: center;
}

.bet-btn {
    background: #666;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
}

.bet-btn:hover {
    background: #888;
}

.sound-toggle, .view-table {
    background: #454278;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.sound-toggle:hover, .view-table:hover {
    background: #666;
}

#winner-paid {
    display: none; /* Start hidden */
}
